<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>FubuMVC.WebForms</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Feeds>
    <Feed Url="http://nuget.org/api/v2/" Mode="Fixed" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="1.0.0.443" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuCore" Version="1.0.0.210" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuLocalization" Version="0.9.5.126" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Core" Version="1.0.1.1410" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Core.UI" Version="1.0.1.351" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Core.View" Version="1.0.0.383" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Katana" Version="1.0.1.1407" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.OwinHost" Version="1.0.1.1407" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.StructureMap" Version="1.0.1.1410" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.TestingHarness" Version="1.0.1.1407" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuTestingSupport" Version="1.0.1.227" Mode="Float" Stability="Anything" />
    <Dependency Name="HtmlTags" Version="1.1.0.114" Mode="Float" Stability="Anything" />
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" Stability="Anything" />
    <Dependency Name="Owin" Version="1.0" Mode="Float" Stability="Anything" />
    <Dependency Name="Owin.Extensions" Version="0.6.4" Mode="Float" Stability="Anything" />
    <Dependency Name="Owin.Types" Version="0.8.5" Mode="Float" Stability="Anything" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" Stability="Anything" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" Stability="Anything" />
    <Dependency Name="structuremap.automocking" Version="2.6.3" Mode="Fixed" Stability="Anything" />
  </Nugets>
</ripple>